.sort
    cursor: pointer
    display: flex
    align-items: center
    user-select: none
    margin-left: 18px
    margin-top: 7px
    margin-bottom: 11px

    .arrow
        font-size: 19px
        margin-left: -7px
        line-height: 27px
