<div class="search">
    <app-notification></app-notification>
    <mat-form-field class="search__field" appearance="outline">
        <mat-label>Search</mat-label>
        <span matPrefix>
            <mat-icon class="search-icon">search</mat-icon>
        </span>
        <input matInput type="text" maxlength="256" [(ngModel)]="searchText">
        <button *ngIf="searchText.length > 0" matSuffix mat-icon-button aria-label="Clear" (click)="searchText=''"
            matSuffix mat-icon-button aria-label="Clear">
            <mat-icon class="close">close</mat-icon>
        </button>
    </mat-form-field>
    <app-transactions-sort (sort)="onSort($event)"></app-transactions-sort>
    <mat-spinner *ngIf="loading" class="loading"></mat-spinner>
    <div class="transactions" *ngIf="!loading">
        <app-transaction-item *ngFor="let transaction of account | filter:searchText | filter:sortBy"
            [transaction]="transaction" [currency]="currency" [account]="accountTemp">
        </app-transaction-item>
        <p class="empty" *ngIf="account.length === 0">You do not have any transactions. Please add a new
            one</p>
    </div>
</div>