.search
    min-width: 617px
    margin-left: 75px

    &__field
        width: 100%

    &-icon
        margin-right: 8px

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline
        background-color: #F9F9F9
        border-radius: 10px
        padding-bottom: 0

    ::ng-deep .mat-form-field-wrapper
        padding-bottom: 0
