<div class="buttons">
    <p class="label">
        <span class="label__item label__item-green">
            <mat-icon>arrow_downward</mat-icon>
        </span> Income
    </p>
    <p class="label">
        <span class="label__item label__item-red">
            <mat-icon>arrow_upward</mat-icon>
        </span> Expenses
    </p>
    <div class="btn">
        <span class="add-icon">+</span> Add Transaction
    </div>
    <div class="btn">
        <span class="add-icon">+</span> Add Account
    </div>
</div>