.cards
    overflow-y: auto
    max-height: 730px
    // width: 450px

    .no
        width: 300px
        text-align: center
        font-size: 40px

::-webkit-scrollbar
    display: none !important
